/* Custom properties */
:root {
  /* fonts */
  --ff-sans: 'Nunito Sans', sans-serif;
  --ff-heading: 'Carter One', cursive;
  /* ****** font sizes *****************/
  /* ********************************* */
  --fs-700: 2.5rem;
  --fs-600: 1.625rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-350: 0.875rem;
  /* font weights */
  --fw-700: 700;
  --fw-500: 500;
  /* colors */
  --clr-black: #0a0f0d;
  --clr-white: #fbfcfc;
  /* make this --clr-silver */
  --clr-light-bg: #C4CBCA;
  --clr-ash-gray: #A9C8C5;
  --clr-teal: #3CBBB1;
  --clr-violet: #2A1E5C;
  --clr-red: #EE4266;
  --clr-rose: #C73B64;



  --clr-gray-blue: rgba(93, 119, 167, 0.8);
  --clr-dark-gray-blue: rgba(50, 58, 73);
  --clr-blue: hsl(226, 58%, 52%);
  --clr-electric-green: hsl(132, 57%, 55%);
  --clr-warning: hsl(21, 100%, 50%);
  --clr-danger:hsl(1, 87%, 50%, 1);
}

@media (min-width: 40em) {
  :root {
    --fs-700: 3.5rem;
    --fs-600: 2rem;
    --fs-500: 1.875rem;
    --fs-400: 1.25rem;
    --fs-350: 1rem;
  }
}

@media (min-width: 72em) {
  :root {
    --fs-700: 4.25rem;
    --fs-600: 2.5rem;
    --fs-400: 1.5rem;
  }
}

/*  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* General Styles */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;
  line-height: 1.6;
  text-align: center;
  font-family: var(--ff-sans);
  font-size: var(--fs-400);
  color: var(--clr-white);
  background-color: var(--clr-white);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='24' height='24' viewBox='0 0 24 24'%3E%3Cg fill='%23a9c8c5' fill-opacity='0.4'%3E%3Cpolygon fill-rule='evenodd' points='8 4 12 6 8 8 6 12 4 8 0 6 4 4 6 0 8 4'/%3E%3C/g%3E%3C/svg%3E");
}

header,
main {
  width: 100%;
}

/* utility classes */
.container {
  margin-inline: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;
}

.warning { color: var(--clr-warning); }
.danger { color: var(--clr-danger) !important; }

.fw-bold { font-weight: 700; }

.hide {
  display: none;
}

.reveal {
  color: var(--clr-warning);
  font-weight: 700;
  letter-spacing: 1px;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

/* General styles */

header {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.logo {
  max-width: 150px;
}

h1 {
  font-family: var(--ff-heading);
  font-size: var(--fs-700);
  letter-spacing: 1.5px;
  color: var(--clr-red);
}

.game-board {
  min-width: 325px;
  background: var(--clr-dark-gray-blue);
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 10px;
}

@media (min-width: 40rem) {
  header {
    flex-direction: row;
  }

  .logo {
    max-width: 120px;
  }

  .game-board {
    min-width: 500px;
  }
}

@media (min-width: 72rem) {
  .game-board {
    min-width: 750px;
  }
}

.game-container {
  padding: 2em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
}

.in-progress-word-container {
  padding: 0.5em 0;
}

.word-in-progress {
  letter-spacing: var(--fs-350);
  color: var(--clr-electric-green);
  font-size: var(--fs-500);
  font-weight: var(--fw-700);
  line-height: 1;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}

.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: var(--fs-350);
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  background-color: var(--clr-light-bg);
  border: 4px solid var(--clr-electric-green);
}

input:active,
input:focus {
  outline: 0;
  border-color: var(--clr-blue);
}

.remaining-guesses {
  font-weight: 700;
  color: var(--clr-electric-green);
}

/* revise button styles = Steph Eckles  */
.guess,
.play-again {
  padding: 0.5em 2.5em;
  border-radius: 15px;
  margin-top: 1em;
  color: var(--clr-black);
  background: var(--clr-electric-green);
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.18);
  font-size: var(--fs-500);
  font-weight: 700;
  outline: none;
  border: 0;
  cursor: pointer;
}

.play-again {
  align-self: center;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  color: var(--clr-white);
  background: var(--clr-blue);
  transition: 150ms all ease-in-out;
}

.win {
  margin-bottom: 1em;
  padding: 1em;
  font-family: var(--ff-heading);
  font-size: var(--fs-500);
  letter-spacing: 1px;
  background: linear-gradient(-45deg, #4BCE65, #413CCB);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
  border-radius: 10px;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}