/* Custom properties */
:root {
  /* fonts */
  --ff-sans: 'Plus Jakarta Sans', Arial, sans-serif;
  /* ****** font sizes *****************/
  /* ********************************* */
  --fs-700: 2.25rem;
  --fs-600: 1.625rem;
  --fs-500: 1.5rem;
  --fs-400: 1rem;
  --fs-350: 0.875rem;
  /* font weights */
  --fw-700: 700;
  --fw-500: 500;
  /* colors */
  --clr-black: hsla(219, 22%, 16%, 1);
  --clr-white: hsla(0, 0%, 100%, 1);
  --clr-dark-gray-blue: hsla(217, 19%, 24%, 1);
  --clr-galactic-blue: hsla(252, 66%, 62%, 1);
  --clr-electric-green: hsla(150, 100%, 66%, 1);
  --clr-light-cyan: hsla(193, 38%, 86%, 1);

}

@media (min-width: 40em) {
  :root {
    --fs-700: 2.75rem;
    --fs-600: 2rem;
    --fs-500: 2rem;
    --fs-400: 1.25rem;
    --fs-350: 1rem;
  }
}

@media (min-width: 72em) {
  :root {
    --fs-700: 3.5rem;
    --fs-600: 2.5rem;
    --fs-400: 1.5rem;
  }
}

/*  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html,
body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}
input,
button,
textarea,
select {
  font: inherit;
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}
#root,
#__next {
  isolation: isolate;
}

/* General Styles */
body {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr auto;


  line-height: 1.6;
  text-align: center;
  /* update font - heading and body */
  font-family: var(--ff-sans);

  font-size: var(--fs-400);
  color: var(--clr-light-cyan);
  /* background-color: var(--clr-black); */

  background-image: linear-gradient(
    45deg,
    hsl(240deg 73% 70%) 0%,
    hsl(242deg 58% 65%) 11%,
    hsl(245deg 46% 60%) 22%,
    hsl(247deg 37% 55%) 33%,
    hsl(249deg 31% 51%) 44%,
    hsl(251deg 29% 46%) 56%,
    hsl(254deg 28% 42%) 67%,
    hsl(256deg 27% 38%) 78%,
    hsl(258deg 25% 34%) 89%,
    hsl(260deg 24% 30%) 100%
  );

  /* background-image: url("../img/bg.png"); */
  /* background-size: 800px;
  background-repeat: repeat; */


  /* color: #305050; */
}

.container {
  margin-inline: auto;
  /* background: radial-gradient(50% 50% at 50% 50%,
    rgba(167, 237, 237, 0.3) 0%,
    rgba(156, 226, 226, 0) 100%); */

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 90%;


}

header {
  margin: 3em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

/* update logo - design with canva? */
.logo {
  width: 70%;
  max-width: 484px;
}

h1 {
  font-size: var(--fs-700);
}

.game-board {
  min-width: 325px;
  background: var(--clr-dark-gray-blue);
  box-shadow: 30px 50px 80px rgba(0, 0, 0, 0.100202);
  border-radius: 10px;

}

@media (min-width: 40rem) {
  .game-board {
    min-width: 500px;
  }
}

@media (min-width: 72rem) {
  .game-board {
    min-width: 750px;
  }
}

.game-container {
  padding: 1.5em 1.5em;
  display: flex;
  flex-direction: column;
  gap: 0.75em;
  /* text-align: center; */
}

.hide {
  display: none;
}

.highlight {
  padding: 0.25em;
  /* background: #ffe2d6; */
  font-size: 1em;
  color: orangered;
}

.underline {
  border-bottom: 2px solid #fff;
  padding-bottom: 3px;
}

.word-in-progress {
  letter-spacing: 15px;
  color: #28bdbd;
  font-size: 30px;
  line-height: 1;
}

.guessed-letters {
  padding: 0;
  list-style: none;
}

.guessed-letters li {
  display: inline-block;
  padding: 0 0.5em;
}


.guess-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}

.guess-form label {
  width: 100%;
  font-weight: normal;
  font-size: 14px;
  text-align: center;
}

input {
  width: 2.25em;
  text-align: center;
  font-size: 1.5em;
  margin-top: 0.5em;
  padding: 0.5em;
  border: 3px solid #28bdbd;
}

input:active,
input:focus {
  outline: 0;
  border: 4px solid #28bdbd;
}

/* revise button styles = Steph Eckles  */
.guess,
.play-again {
  padding: 1em 3em;
  border-radius: 50px;
  /* margin-top: 1em; */
  color: var(--clr-black);
  background: var(--clr-electric-green);
  font-size: 1em;
  align-self: center;
  outline: none;
  border: 0;
  cursor: pointer;
}

.guess:active,
.play-again:active,
.guess:focus,
.play-again:focus,
.guess:hover,
.play-again:hover {
  outline: 0;
  transform: scale(0.98);
  /* background: brightness(0.3); */
  color: var(--clr-white);
}

/* animatied background */
/* Todo: change to animated gif or confetti background */
.win {
  padding: 0 1em;
  background: linear-gradient(-45deg, #ff9d64, #f5620c);
  background-size: 400% 400%;
  animation: gradient 2s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}